@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h4 class="display-6">Добро пожаловать в приложение "Телефонный менеджер"</h4>
    <a href="@Url.Action("Index", "ContactList")"><p>Посмотреть список контактов </p></a>
</div>
